<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> This is zombocom MusicApp </h1>
      <% if logged_in? %>
        <h3> Hello <%= @user.email %> </h3>
      <% end %>
    <%= yield %>
  </body>
</html>
