<h1><%= @user.username %></h1>
<table>
  <thead>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
      <td>
        <form action="<%= edit_user_url(@user)%>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="GET">
          <input type="submit" value="Edit User">
        </form>
      </td>
      <td>
        <form action="<%= user_url(@user)%>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete User">
        </form>
      </td>
  </tbody>
</table>




