<%= render "user", user: @user, action: :show %>

<h3><%= @user.username %>'s Goals</h3>
<ul>
  <!-- <% @user.goals.each do |goal| %>
    <li>
      <p>At <%=goal.created_at%>, <%=@user.username%> set this goal:</p>
      <h3><%= goal.body %></h3>
    </li>
  <% end %> -->
</ul>