<h1><%= @album.title %></h1>
<ul>
<li>Artist: <%= @album.band.name %></li>
<li>Year Recorded: <%= @album.year %></li>
<li><% if @album.live == true%>
<%= "Recorded Live" %>
<%else%>
<%= "Studio Recording" %>
<%end%>
</li>
<ul>
