<% cat = @c %>
<h1></h1>
<table>
  <thead><tr><th colspan='4'> <%= cat.name %> </th></tr></thead>
  <tbody><tr><td><%= cat.age %></td>
  <td><%= cat.sex %></td>
  <td><%= cat.color %></td>
  <td><%= cat.description %></td>
  </tr>
  </tbody>
</table>
